$bp-phone: 450px;
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-mid: 1700px;
$bp-desktop-xl: 1440px;

$global-font-size: 16px;

$margin-side-lil: 6vw;
$margin-side-phone: 7vw;
$margin-side-tablet: 8vw;
$margin-side-tablet-horizontal: 10vw;
$margin-side-desktop: 14vw;
$margin-sides: 20vw;

$primary-font: "Poppins";
$color-corporate: #ffd133;
$white-color: #eae9d5;
$blackground: #1d1d1d;
$grey-corp: #a4a4a4;
$gradient-background: linear-gradient(
  160deg,
  rgb(0, 0, 0) 0%,
  rgba(29, 29, 29, 1) 30%,
  rgb(49, 49, 49) 110%
);
